Thumbs.db
.DS_Store
._.DS_Store
*.log
.idea
.gigaide
/bitrix
/bitrix/
/upload
/upload/
/vendor
/vendor/
/node_modules
/node_modules/
/bin/
/sitemap*.xml
/robots.txt
/.htaccess
/.htaccess.restore
/.htpasswd
/*.sql
/*.txt
/*.xml
/*.dt
restore.php
yandex_*.html
google*.html


